In [2]:
#(1) write a program add two numbers?
a=2
b=4
print(a+b)

6

In [3]:
#q(2) to find remaindar when number is divisiblae by Z?
a=34
b=5
print("remaindar when a is divisibal by b is", a%b)

remaindar when a is divisibal by b is 4

In [4]:
#q(3)type of variable assinged using input function?
a=input("Enter the value of a")
print(type(a))

Enter the value of a 56

<class 'str'>

In [5]:
#q(3)type of variable assinged using input function?(conver it int)
a=int(input("Enter the value of a"))
print(type(a))

Enter the value of a 75

<class 'int'>

In [8]:
#Q(4) find a is grater then b or not?
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
print("a is grater than b is" ,a>b)

Enter number 1: 87
Enter number 2: 67

a is grater than b is True

In [9]:
#q(5)write a programe  find average of two numbers enterd by user?
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
print("the average of these two numbers is ", (a+b)/2)

Enter number 1: 56
Enter number 2: 76

the average of these two numbers is  66.0

In [16]:
#q(6) write square of two numbers?
a=int(input("Enter number 1:"))

print("the square of two numbers is",a**2)

Enter number 1: 8

the square of two numbers is 64

In [19]:
#q(7)write a python program to display a user enterd name followed by good afternoon using input() function?
name= input("Enter your name:")
print(f"good afternooon, {name}")

Enter your name: hamna

good afternooon, hamna

In [25]:
#Q(8)write a program to fill in a letter template  with name and date ?
letter =  '''dear <|name|>, 
          you are selected!
          <|date|>'''
print(letter.replace("<|name|","nimra").replace("<|date|","24 september 2050"))

dear nimra>,
          you are selected!
          24 september 2050>

In [27]:
#q(9) dected double space in string?(double space detector)
name= " we are going to  home "
print(name.find("  "))  #(find function return index of substring in a parents string)

16

In [28]:
#q(11)write a program to formate the following letter using escape sequance characters?
letter=" dear hamna. \n\t this python exercise  is good .\n thanks!"
print(letter)

 dear hamna.
	 this python exercise  is good .
 thanks!

In [30]:
#Q(12) store a seven furites in a list ?
furite=[]
f1=input("Enter furites name:")
f2=input("Enter furites name:")
f3=input("Enter furites name:")
f4=input("Enter furites name:")
f5=input("Enter furites name:")
f6=input("Enter furites name:")
f7=input("Enter furites name:")
furite.append(f1)
furite.append(f2)
furite.append(f3)
furite.append(f4)
furite.append(f5)
furite.append(f6)
furite.append(f7)
print(furite)

Enter furites name: banana
Enter furites name: mango
Enter furites name: orange
Enter furites name: graps
Enter furites name: kivi
Enter furites name: apple
Enter furites name: avocado

['banana', 'mango', 'orange', 'graps', 'kivi', 'apple', 'avocado']

In [34]:
#Q(13) write a program to accept marks of 7 students and disply in shorted manner?
marks=[]
f1=input("Enter marks here:")
f2=input("Enter marks here:")
f3=input("Enter marks here:")
f4=input("Enter marks here:")
f5=input("Enter marks here:")
f6=input("Enter marks here:")
f7=input("Enter marks here:")
marks.append(f1)
marks.append(f2)
marks.append(f3)
marks.append(f4)
marks.append(f5)
marks.append(f6)
marks.append(f7)
marks.sort()
print(marks)

Enter marks here: 89
Enter marks here: 90
Enter marks here: 78
Enter marks here: 65
Enter marks here: 78
Enter marks here: 88
Enter marks here: 56

['56', '65', '78', '78', '88', '89', '90']

In [35]:
#(14) check tuple type can not be changed in python?
a=(34, 234,"nimra")
a[2]="nim"

TypeError: 'tuple' object does not support item assignment

In [36]:
#(15) write a program to sum a list with 4 numbers?
l=[2,3,4,6]
print(sum(l))

15

In [37]:
#(16) write a program to count no of zero in following tuple?
a=(7,8,8,0,0,9)
n=a.count(0)
print(n)

2

In [43]:
#Q(17) write a program to create a dicctionary of words with value at there english translation?
words={ "help":"madad",
      "chair":"kuri",
      "cat":"bili"
     }
word= input("Enter the word you want maning of :")
print(words[word])

Enter the word you want maning of : chair

kuri

In [45]:
# q(18) write a program to input 8 numbers from the users  and disply all the unique numbers at (ones)
s=set()
n=input("Enter no 2:")
s.add(int(n))
n=input("Enter no 3:")
s.add(int(n))
n=input("Enter no 4:")
s.add(int(n))
n=input("Enter no 5:")
s.add(int(n))
n=input("Enter no 6:")
s.add(int(n))
n=input("Enter no 7:")
s.add(int(n))
n=input("Enter no 8:")
s.add(int(n))
print(s)

Enter no 2: 2
Enter no 3: 3
Enter no 4: 4
Enter no 5: 5
Enter no 6: 6
Enter no 7: 7
Enter no 8: 8

{2, 3, 4, 5, 6, 7, 8}

In [46]:
#Q(19) can we have a set with 18(int) and "18" (str) as avalue in it?
s=set()
s.add(18)
s.add("18")
print(s)  #(yes)

{18, '18'}

In [48]:
s={}
#what is the type of 's'?
print(type(s))

<class 'dict'>

In [50]:
#(20)create an empty dictionary allow 4 friends language as value key as their name  assume that the names are unique?
d={}
name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})

name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})

name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})

name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})

name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})

name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})

name=input("Enter friends name:")
lang=input("Enter language name:")
d.update({name:lang})
print(d)

Enter friends name: nimra
Enter language name: python
Enter friends name: sanai
Enter language name: jana
Enter friends name: umar
Enter language name: c++
Enter friends name: misbah
Enter language name: react
Enter friends name: aslam
Enter language name: marn
Enter friends name: dedi
Enter language name: html
Enter friends name: nida
Enter language name: sql

{'nimra': 'python', 'sanai': 'jana', 'umar': 'c++', 'misbah': 'react', 'aslam': 'marn', 'dedi': 'html', 'nida': 'sql'}

In [51]:
#(21) gratest of four number enterd by user?
a1= int(input("Enter no 1:"))
a2= int(input("Enter no 2:"))
a3= int(input("Enter no 3:"))
a4= int(input("Enter no 4:"))
if(a1>a2 and a1>a3 and a1>a4):
    print("gratest number is a1:",a1)
elif (a2>a1 and a2>a3 and a3>a4):
    print("gratest number is a2:",a2) 
elif (a3>a1 and a3>a2 and a3>a4):
    print("gratest number is a3:",a3) 
elif (a4>a1 and a4>a2 and a4>a3):
    print("gratest number is a4:",a4)

Enter no 1: 3
Enter no 2: 5
Enter no 3: 7
Enter no 4: 8

gratest number is a4: 8